<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    
    <%- include('includes/navbar.ejs', { isLoggedIn: isLoggedIn }) %>
    
    <%- include('includes/banner.ejs') %>
    
    <!-- Add this where you want to display the featured properties -->
    <%- include('includes/featured-properties.ejs') %>
    <%- include('includes/welcome.ejs') %>
    <%- include('includes/testimonials.ejs') %>
    <%- include('includes/count-area.ejs') %>
    <%- include('includes/buy-sell.ejs') %>


    <script src="/assets/js/main.js"></script>
    <%- include('includes/end.ejs') %>
</body>