<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    
    <%- include('includes/navbar.ejs', { isLoggedIn: isLoggedIn }) %>
    
    <%- include('includes/banner.ejs') %>
    
    <!-- Add your footer scripts here -->
    <script src="/assets/js/main.js"></script>
    <%- include('includes/end.ejs') %>
</body>