<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>
<div class="page-head"> 
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">Hello : <span class="orange strong"><%= user.Name %></span></h1>               
      </div>
    </div>
  </div>
</div>

<div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">   
    <div class="row">
      <div id="response-message"></div>

      <div class="col-sm-10 col-sm-offset-1 profiel-container">
        <form action="/changePassword" method="POST" id="changePasswordForm">
          <div class="profiel-header">
            <h3>
              <b>UPDATE</b> YOUR PASSWORD <br>
        
            </h3>
            <hr>
          </div>

          <div class="clear">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="form-group">
                <label>Password <small>(required)</small></label>
                <input name="password" type="password" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Confirm Password <small>(required)</small></label>
                <input name="confirmpassword" type="password" class="form-control" required>
              </div> 
            </div>
            <div class="col-sm-10 col-sm-offset-1">
              <input type="submit" class="btn btn-finish  pull-right" style="background-image: linear-gradient(to bottom, #fad609 0, #fad609 100%); color:white; font-weight:bold;" value="Update" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer.ejs') %>

<script>
  document.getElementById('changePasswordForm').addEventListener('submit', async function (e) {
    e.preventDefault();
    const password = this.password.value;
    const confirmpassword = this.confirmpassword.value;

    try {
      const res = await fetch('/changePassword', 
      {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ password, confirmpassword })
      });

      const data = await res.json();

      const messageDiv = document.getElementById('response-message');
      messageDiv.innerHTML = `<div class="alert alert-${data.success ? 'success' : 'danger'}">${data.message}</div>`;
  
    
      
    console.log('data',data);
      if (data.success) {
        this.reset();
      }

    } catch (err) {
      console.error('Error:', err);
    }
  });
</script>
<%- include('../includes/end.ejs') %>