<%- include('../includes/head.ejs') %>
<body>

<main class="container mx-auto px-4 py-8">
<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container">
      <div class="row pr0 padding-top-40 properties-page">
       
        <!-- Search Section -->
        <div class="col-md-12 padding-bottom-40 large-search">
          <div class="search-form wow pulse">
            <form action="/property/submit" method="GET" class="form-inline">
              <div class="col-md-12">
                <div class="col-md-4">
                  <input type="text" name="keyword" class="form-control" placeholder="Keyword">
                </div>
                <div class="col-md-4">
                  <select name="state" class="form-control">
                    <% states.forEach(state => { %>
                      <option value="<%= state._id %>"><%= state.name %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="col-md-4">
                  <select name="status" class="form-control">
                    <% statuses.forEach(stat => { %>
                      <option value="<%= stat._id %>"><%= stat.name %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="col-md-12 text-center padding-top-20">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>
          </div>
        </div>
  
        <!-- Property Grid -->
        <div class="col-md-12 clear">
          <div id="list-type" class="proerty-th">
            <% properties.forEach(p => { %>
              <div class="col-sm-6 col-md-3 p0">
                <div class="box-two proerty-item">
                  <div class="item-thumb">
                    <a href="/properties/<%= p._id %>">
                      <img src="/uploads/<%= p.image %>" alt="<%= p.name %>">
                    </a>
                  </div>
                  <div class="item-entry overflow">
                    <h5><a href="/properties/<%= p._id %>"><%= p.name %></a></h5>
                    <div class="dot-hr"></div>
                    <span class="pull-left"><b> Area :</b> <%= p.area %> m²</span>
                    <span class="proerty-price pull-right">$<%= p.price.toLocaleString() %></span>
                    <p style="display: none;"><%= p.description %></p>
                    <div class="property-icon">
                      <img src="/assets/img/icon/bed.png">(<%= p.beds %>) |
                      <img src="/assets/img/icon/shawer.png">(<%= p.baths %>)
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</main>
</body>