<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<%- include('../includes/head.ejs') %>
<body >
<main class="container mx-auto px-4 py-8">
<form action="/property" method="POST" enctype="multipart/form-data">
  <div class="content-area submit-property" style="background-color: #FCFCFC;">
    <div class="container">
      <div class="clearfix">
        <div class="wizard-container">
          <div class="wizard-card ct-wizard-orange" id="wizardProperty">

            <div class="wizard-header">
              <h3><b>Submit</b> YOUR PROPERTY <br><small>Fill out the form step by step.</small></h3>
            </div>

            <ul>
              <li><a href="#step1" data-toggle="tab">Step 1</a></li>
              <li><a href="#step2" data-toggle="tab">Step 2</a></li>
              <li><a href="#step3" data-toggle="tab">Step 3</a></li>
              <li><a href="#step4" data-toggle="tab">Finished</a></li>
            </ul>

            <div class="tab-content">

              <!-- Step 1 -->
              <div class="tab-pane" id="step1">
                <h4 class="info-text">Basic Information</h4>
                <div class="form-group">
                  <label>Property Name</label>
                  <input name="name" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Price</label>
                  <input name="price" type="number" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Telephone</label>
                  <input name="phone" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Main Image</label>
                  <input type="file" name="mainImage" class="form-control" required>
                </div>
              </div>

              <!-- Step 2 -->
              <div class="tab-pane" id="step2">
                <h4 class="info-text">Property Details</h4>
                <div class="form-group">
                  <label>Description</label>
                  <textarea name="discription" class="form-control" required ></textarea>
                </div>

                <div class="form-group">
                  <label>State</label>
                  <select name="stateId" class="form-control" required>
                    <% states.forEach(state => { %>
                      <option value="<%= state._id %>"><%= state.name %></option>
                    <% }) %>
                  </select>
                </div>

                <div class="form-group">
                  <label>Category</label>
                  <select name="categoryId" class="form-control" required>
                    <% categories.forEach(cat => { %>
                      <option value="<%= cat._id %>"><%= cat.name %></option>
                    <% }) %>
                  </select>
                </div>

                <div class="form-group">
                  <label>Status</label>
                  <select name="statusId" class="form-control" required>
                    <% statuses.forEach(stat => { %>
                      <option value="<%= stat._id %>"><%= stat.name %></option>
                    <% }) %>
                  </select>
                </div>

                <input name="beds" type="number" class="form-control" placeholder="Beds" required>
                <input name="baths" type="number" class="form-control" placeholder="Baths" required>
                <input name="area" type="number" class="form-control" placeholder="Area in sqft" required>

                <label>Features</label>
                <div class="row">
                  <% features.forEach(f => { %>
                    <div class="col-sm-3">
                      <div class="checkbox">
                        <label><input type="checkbox" name="features" value="<%= f._id %>"> <%= f.name %></label>
                      </div>
                    </div>
                  <% }) %>
                </div>
              </div>

              <!-- Step 3 -->
              <div class="tab-pane" id="step3">
                <h4 class="info-text">Upload Gallery Images</h4>
                <div class="form-group">
                  <label>Gallery Images</label>
                  <input type="file" name="galleryImages" multiple class="form-control">
                </div>
                <div class="form-group">
                  <label>Property Videos (optional)</label>
                  <input name="video1" class="form-control" placeholder="YouTube/Vimeo Link">
                  <input name="video2" class="form-control" placeholder="YouTube/Vimeo Link">
                  <input name="video3" class="form-control" placeholder="YouTube/Vimeo Link">
                </div>
              </div>

              <!-- Step 4 -->
              <div class="tab-pane" id="step4">
                <h4 class="info-text">Final Step</h4>
                <input type="hidden" name="userId" value="USER_ID_PLACEHOLDER">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="termsAndConditions" required>
                    I agree to the Terms and Conditions
                  </label>
                </div>
              </div>
            </div>

            <div class="wizard-footer">
              <div class="pull-right">
                <input type="button" class="btn btn-next btn-primary" name='next' value="Next" />
                <button type="submit" class="btn btn-finish btn-primary" name='finish' value='Finish'>Finish</button>
              </div>
              <div class="pull-left">
                <input type="button" class="btn btn-previous btn-default"name='previous' value='Previous' />
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</main>
</body>

=======
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
<body>
        <!-- property area -->
        <div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">
                <div class="clearfix" > 
                    <div class="wizard-container"> 

                        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                            <form action="/property" method="POST">                        
                                <div class="wizard-header">
                                    <h3>
                                        <b>Submit</b> YOUR PROPERTY <br>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing.</small>
                                    </h3>
                                </div>

                                <ul>
                                    <li><a href="#step1" data-toggle="tab">Step 1 </a></li>
                                    <li><a href="#step2" data-toggle="tab">Step 2 </a></li>
                                    <li><a href="#step3" data-toggle="tab">Step 3 </a></li>
                                    <li><a href="#step4" data-toggle="tab">Finished </a></li>
                                </ul>

                                <div class="tab-content">

                                    <div class="tab-pane" id="step1">
                                        <div class="row p-b-15  ">
                                            <h4 class="info-text"> Let's start with the basic information (with validation)</h4>
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="assets/img/default-property.jpg" class="picture-src" id="wizardPicturePreview" title=""/>
                                                        <input type="file" id="wizard-picture">
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Property name <small>(required)</small></label>
                                                    <input name="propertyname" type="text" class="form-control" placeholder="Super villa ...">
                                                </div>

                                                <div class="form-group">
                                                    <label>Property price <small>(required)</small></label>
                                                    <input name="propertyprice" type="text" class="form-control" placeholder="3330000">
                                                </div> 
                                                <div class="form-group">
                                                    <label>Telephone <small>(empty if you wanna use default phone number)</small></label>
                                                    <input name="phone" type="text" class="form-control" placeholder="+1 473 843 7436">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  End step 1 -->

                                    <div class="tab-pane" id="step2">
                                        <h4 class="info-text"> How much your Property is Beautiful ? </h4>
                                        <div class="row">
                                            <div class="col-sm-12"> 
                                                <div class="col-sm-12"> 
                                                    <div class="form-group">
                                                        <label>Property Description :</label>
                                                        <textarea name="discrition" class="form-control" ></textarea>
                                                    </div> 
                                                </div> 
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Property State :</label>
                                                        <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                                                            <option>Seoul</option>
                                                            <option>Paris</option>
                                                            <option>Casablanca</option>
                                                            <option>Tokyo</option>
                                                            <option>Marraekch</option>
                                                            <option>kyoto , shibua</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Property City :</label>
                                                        <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                                                            <option>New york, CA</option>
                                                            <option>Paris</option>
                                                            <option>Casablanca</option>
                                                            <option>Tokyo</option>
                                                            <option>Marraekch</option>
                                                            <option>kyoto , shibua</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Property Statue  :</label>
                                                        <select id="basic" class="selectpicker show-tick form-control">
                                                            <option> -Status- </option>
                                                            <option>Rent </option>
                                                            <option>Boy</option>
                                                            <option>used</option>  

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Property Statue  :</label>
                                                        <select id="basic" class="selectpicker show-tick form-control">
                                                            <option> -Status- </option>
                                                            <option>Rent </option>
                                                            <option>Boy</option>
                                                            <option>used</option>  

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 padding-top-15">                                                   
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="property-geo">Min bed :</label>
                                                        <input type="text" class="span2" value=""   id="min-bed" ><br />
                                                        <!-- <b class="pull-left color">1</b> 
                                                        <b class="pull-right color">120</b> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">

                                                    <div class="form-group">
                                                        <label for="price-range">Min baths :</label>
                                                        <input type="text" class="span2" value=""  id="min-baths" ><br />
                                                        <!-- <b class="pull-left color">1</b> 
                                                        <b class="pull-right color">120</b> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">

                                                    <div class="form-group">
                                                        <label for="property-geo">Property geo (m2) :</label>
                                                        <input type="text" class="span2" value="" id="property-geo" ><br />
                                                        <!-- data-slider-min="0" 
                                                               data-slider-max="600" data-slider-step="5" 
                                                               data-slider-value="[50,450]"  -->
                                                               
                                                        <!-- <b class="pull-left color">40m</b> 
                                                        <b class="pull-right color">12000m</b> -->
                                                    </div>
                                                </div>   
                                            </div>
                                            <div class="col-sm-12 padding-top-15">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Swimming Pool
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> 2 Stories
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>                                                 
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Emergency Exit
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>                                                 
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Fire Place 
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div> 
                                            <div class="col-sm-12 padding-bottom-15">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Laundry Room
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Jog Path
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Ceilings
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Dual Sinks
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                    <!-- End step 2 -->

                                    <div class="tab-pane" id="step3">                                        
                                        <h4 class="info-text">Give us somme images and videos ? </h4>
                                        <div class="row">  
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="property-images">Chose Images :</label>
                                                    <input class="form-control" type="file" id="property-images">
                                                    <input class="form-control" type="file" id="property-images">
                                                    <input class="form-control" type="file" id="property-images">
                                                    <p class="help-block">Select multipel images for your property .</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"> 
                                                <div class="form-group">
                                                    <label for="property-video">Property video :</label>
                                                    <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                                </div> 

                                                <div class="form-group">
                                                    <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                                </div>

                                                <div class="form-group">
                                                    <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  End step 3 -->


                                    <div class="tab-pane" id="step4">                                        
                                        <h4 class="info-text"> Finished and submit </h4>
                                        <div class="row">  
                                            <div class="col-sm-12">
                                                <div class="">
                                                    <p>
                                                        <label><strong>Terms and Conditions</strong></label>
                                                        By accessing or using  GARO ESTATE services, such as 
                                                        posting your property advertisement with your personal 
                                                        information on our website you agree to the
                                                        collection, use and disclosure of your personal information 
                                                        in the legal proper manner
                                                    </p>

                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" /> <strong>Accept termes and conditions.</strong>
                                                        </label>
                                                    </div> 

                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <!--  End step 4 -->

                                </div>

                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-primary' name='next' value='Next' />
                                        <input type='button' class='btn btn-finish btn-primary ' name='finish' value='Finish' />
                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-default' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>                                            
                                </div>	
                            </form>
                        </div>
                        <!-- End submit form -->
                    </div> 
                </div>
            </div>
        </div>
    </body>
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    
>>>>>>> Stashed changes
=======
    
>>>>>>> Stashed changes
=======
    
>>>>>>> Stashed changes
