<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>

<body>
    <div class="container py-5">
     
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-warning  text-warning text-center">
                    <h2><%= successMessage %></h2>
                    
                    <form action="/properties" method="GET">
                        <button type="submit" class="btn btn-warning btn-lg">Go to Properties</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../includes/footer.ejs') %>

    <%- include('../includes/end.ejs') %>
  
