<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>

<body class="bg-gray-100">
    <div class="content-area error-page" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title ">
                    <h2 class="error-title text-warning "><%= successMessage %></h2>
                    <form action="/properties" method="GET">
                        <button type="submit"  style="background-image: linear-gradient(to bottom, #fad609 0, #fad609 100%);" class="btn  btn-lg">Go to Properties</button>
                    </form>
                </div>
            </div> 
        </div>
    </div>

    <%- include('../includes/footer.ejs') %>

    <%- include('../includes/end.ejs') %>
  
    