<%- include('../includes/head.ejs') %> 
<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;"> 
    <div class="container"> 
        <div class="row"> 
            <div class="blog-lst col-md-12 pl0"> 
                <% blogs.forEach(blog => { %>
                <section id="id-100" class="post single">
                    <div class="post-header single">
                        <div class=""> 
                            <h2 class="wow fadeInLeft animated"><%= blog.Title %></h2> 
                            <div class="title-line wow fadeInRight animated"></div>
                        </div>
                        <div class="row wow fadeInRight animated"> 
                            <div class="col-sm-6">
                                <p class="author-category"> By <a href="/blog/<%= blog._id %>"><%= blog.Auther %></a>  in <a href="/blog/<%= blog._id %>">Webdesign</a> </p> 
                            </div>
                            <div class="col-sm-6 right"> 
                                <p class="date-comments"> 
                                    <a href="/blog/<%= blog._id %>"><i class="fa fa-calendar-o"></i> <%= blog.Date.toDateString() %></a> 
                                    <a href="/blog/<%= blog._id %>"><i class="fa fa-comment-o"></i> Comments</a> 
                                </p> 
                            </div> 
                        </div> 
                        <div class="image wow fadeInRight animated">
                            <img src="<%= blog.Img %>" class="img-responsive" alt="Example blog post alt"> 
                        </div>
                    </div>
                    <div id="post-content" class="post-body single wow fadeInLeft animated">
                        <p><%= blog.Description.slice(0, 150) %>...</p>
                        <p class="read-more">
                            <a href="/blog/<%= blog._id %>" class="btn btn-default btn-border">Continue reading</a>
                        </p>
                    </div>
                </section>
                <% }); %>
            </div> 
        </div> 
    </div> 
</div>

<script src="/assets/js/jquery-1.10.2.min.js"></script> 