
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" rel="stylesheet" />
  <style>
    .color { color: #333; }
    .pull-left { float: left; }
    .pull-right { float: right; }
    .btn-warning { background-color: #ffcc00; color: #fff; }
    .slider-selection{background-image: linear-gradient(to bottom, #f8cc51 0, #f8cc51 100%);}
    .slider-handle {background-image: linear-gradient(to bottom, #d3a033 0, #d3a033 100%);}
    .helo{margin-top:15px;}
    .form-check {
      display: flex !important;
      align-items: center !important;
      flex-direction: row !important;
      gap: 8px;
    }
  
    .form-check-input {
      margin-top: 0 !important;
      border: 1px solid #ccc !important;
      width: 18px;
      height: 18px;
    }
  
    .form-check-label {
      font-weight: 500 !important;
      color: #555 !important;
      margin: 0 !important;
    }
  
    @media (max-width: 576px) {
      .form-check-label {
        font-size: 0.9rem !important;
      }
    }
  </style>


<div class="container mt-5">
  <div class="col-md-12 padding-bottom-40 large-search">
    <div class="search-form wow pulse">
      <form action="/properties" method="GET" class="form-inline">
        <div class="col-md-12 ">
          <div class="col-md-4 helllllo">
            <input type="text"  name="keyword" class="form-control mb-4" placeholder="Search by keyword" value="<%= typeof keyword !== 'undefined' ? keyword : '' %>" />
          </div>
          <div class="col-md-4 helllllo">
            <select class="form-control " name="stateId" style="margin-bottom: 15px;">
              <option value="">State</option>
              <% if (state && state.length > 0) { %>
                <% state.forEach(state => { %>
                  <option value="<%= state.id %>" <%= stateId == state.id ? 'selected' : '' %>><%= state.name %></option>
                <% }) %>
              <% } %>
            </select>
          </div>
          <div class="col-md-4 helllllo">
            <select class="form-control" name="statusId" style="margin-bottom: 15px;">
              <option value="">Property Status</option>
              <% if (statusCategory && statusCategory.length > 0) { %>
                <% statusCategory.forEach(status => { %>
                    <option value="<%= status.id %>" <%= status.Id == status.id ? 'selected' : '' %>><%= status.name %></option>
              <!-- <option <%= statusId === 'Rent' ? 'selected' : '' %>>Rent</option>
              <option <%= statusId === 'Buy' ? 'selected' : '' %>>Buy</option> -->
              <% }) %>
              <% } %>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-12">
          <div class="search-row" style="margin-top:-10px;"  >
           
            <!-- Price Range -->
            <div class="col-12 col-md-3"><br>
              <label>Price range ($):</label>
              <input type="text" id="price-range" class="span2"  style="margin-bottom: 15px;"/>
              <br />
              <b class="pull-left color">3000$</b>
              <b class="pull-right color">99999$</b>
              <input type="hidden" name="priceRange" id="priceRangeInput" value="<%= typeof priceRange !== 'undefined' ? priceRange : '' %>" />
            </div>

            <!-- Min Baths -->
            <div class="col-12 col-md-3 mb-3"><br>
              <label>Baths:</label>
              <input type="text" id="min-baths" class="span2" style="margin-bottom: 15px;" />
              <br />
              <b class="pull-left color">1</b>
              <b class="pull-right color">10</b>
              <input type="hidden" name="minBaths" id="minBathsInput" value="<%= typeof minBaths !== 'undefined' ? minBaths : '' %>" />
              <input type="hidden" name="maxBaths" id="maxBathsInput" value="<%= typeof maxBaths !== 'undefined' ? maxBaths : '' %>" />
            </div>

            <!-- Min Beds -->
            <div class="col-12 col-md-3 mb-3"><br>
              <label>Beds:</label>
              <input type="text" id="min-bed" class="span2" style="margin-bottom: 15px;"/>
              <br />
              <b class="pull-left color">1</b>
              <b class="pull-right color">20</b>
              <input type="hidden" name="minBeds" id="minBedsInput" value="<%= typeof minBeds !== 'undefined' ? minBeds : '' %>" />
            </div>

            <!-- Area Range -->
            <div class="col-12 col-md-3 "><br>
              <label>Area range (sqft):</label>
              <input type="text" id="area-range" class="span2" style="margin-bottom: 15px;" />
              <br />
              <b class="pull-left color">50 m2</b>
              <b class="pull-right color">25000 m2</b>
              <input type="hidden" name="areaRange" id="areaRangeInput" value="<%= typeof areaRange !== 'undefined' ? areaRange : '' %>" />
            </div>

          </div>

          <!-- Features Section -->
<div class="search-row justify-content-center mt-4">
  <div class="container">
    <div class="row">
      <% const selectedFeatures = Array.isArray(features) ? features : []; %>
      <% if (propertyFeatures && propertyFeatures.length > 0) { %>
        <% propertyFeatures.forEach(feature => { %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <div class="form-check  align-items-center">
              
              <input 
  type="checkbox" 
  class="form-check-input me-2" 
  name="features" 
  value="<%= feature.name %>" 
  id="feature-<%= feature.id %>"
  <%= selectedFeatures.includes(feature.name) ? 'checked' : '' %> 
/>
<label class="form-check-label" for="feature-<%= feature.id %>">
  <%= feature.name %>
</label>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>

          <!-- Yellow Button -->
          <div class="col-md-12" style="margin-top: 20px;">
            <button type="submit" class="btn " style="background-image: linear-gradient(to bottom, #d3a033 0, #d3a033 100%); color:white; font-weight:bold;">Apply Filters</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% if (selectedFilters && selectedFilters.length > 0) { %>
    <div class="alert alert-warning">
        <strong>You selected:</strong>
        <ul>
            <% selectedFilters.forEach(function(filter) { %>
                <li style="color:#523c02;"><%= filter %></li>
            <% }); %>
        </ul>
    </div>
<% } %>

<!-- Slider JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      
      var priceSlider = new Slider('#price-range', {
        min: 3000,
        max: 99999,
        step: 1000,
        value: [3000, 99999],
        tooltip_split: true,
        range: true
      });

      priceSlider.on('slide', function(value) {
        document.getElementById('priceRangeInput').value = value[0] + ',' + value[1];
      });

  
      var bathsSlider = new Slider('#min-baths', {
        min: 1,
        max: 10,
        step: 1,
        value: [1, 10],
        tooltip_split: true,
        range: true
      });

      bathsSlider.on('slide', function(value) {
        document.getElementById('minBathsInput').value = value;
      });

      
      var bedsSlider = new Slider('#min-bed', {
        min: 1,
        max: 20,
        step: 1,
        value: [1, 20],
        tooltip_split: true,
        range: true
      });

      bedsSlider.on('slide', function(value) {
        document.getElementById('minBedsInput').value = value;
      });
      
      var areaSlider = new Slider('#area-range', {
        min: 50,
        max: 25000,
        step: 50,
        value: [100, 25000],
        tooltip_split: true,
        range: true
      });

      areaSlider.on('slide', function(value) {
        document.getElementById('areaRangeInput').value = value[0] + ',' + value[1];
      });

      
      document.querySelectorAll('.slider').forEach(function(slider) {
        slider.addEventListener('slideStop', function() {
          document.querySelector('form').submit();
        });
      });
    });
  </script>


